car_net/car/car/Service References/iPadService/ipadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Authentication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPlate">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPlateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPlateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllGoodsCategory">
        <s:complexType />
      </s:element>
      <s:element name="GetAllGoodsCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllGoodsCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGoodsTypeByCategoryID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCategoryID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGoodsTypeByCategoryIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGoodsTypeByCategoryIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGoodsByTypeID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTypeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGoodsByTypeIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGoodsByTypeIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBillData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strBillData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBillDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadBillDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBillData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strBillID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBillDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteBillDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticationSoapIn">
    <wsdl:part name="parameters" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="AuthenticationSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPlateSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPlate" />
  </wsdl:message>
  <wsdl:message name="GetAllPlateSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPlateResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllGoodsCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetAllGoodsCategory" />
  </wsdl:message>
  <wsdl:message name="GetAllGoodsCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetAllGoodsCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetGoodsTypeByCategoryIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetGoodsTypeByCategoryID" />
  </wsdl:message>
  <wsdl:message name="GetGoodsTypeByCategoryIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetGoodsTypeByCategoryIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetGoodsByTypeIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetGoodsByTypeID" />
  </wsdl:message>
  <wsdl:message name="GetGoodsByTypeIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetGoodsByTypeIDResponse" />
  </wsdl:message>
  <wsdl:message name="UploadBillDataSoapIn">
    <wsdl:part name="parameters" element="tns:UploadBillData" />
  </wsdl:message>
  <wsdl:message name="UploadBillDataSoapOut">
    <wsdl:part name="parameters" element="tns:UploadBillDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBillDataSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBillData" />
  </wsdl:message>
  <wsdl:message name="DeleteBillDataSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBillDataResponse" />
  </wsdl:message>
  <wsdl:portType name="iPadServiceSoap">
    <wsdl:operation name="Authentication">
      <wsdl:input message="tns:AuthenticationSoapIn" />
      <wsdl:output message="tns:AuthenticationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlate">
      <wsdl:input message="tns:GetAllPlateSoapIn" />
      <wsdl:output message="tns:GetAllPlateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGoodsCategory">
      <wsdl:input message="tns:GetAllGoodsCategorySoapIn" />
      <wsdl:output message="tns:GetAllGoodsCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGoodsTypeByCategoryID">
      <wsdl:input message="tns:GetGoodsTypeByCategoryIDSoapIn" />
      <wsdl:output message="tns:GetGoodsTypeByCategoryIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGoodsByTypeID">
      <wsdl:input message="tns:GetGoodsByTypeIDSoapIn" />
      <wsdl:output message="tns:GetGoodsByTypeIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadBillData">
      <wsdl:input message="tns:UploadBillDataSoapIn" />
      <wsdl:output message="tns:UploadBillDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBillData">
      <wsdl:input message="tns:DeleteBillDataSoapIn" />
      <wsdl:output message="tns:DeleteBillDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iPadServiceSoap" type="tns:iPadServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authentication">
      <soap:operation soapAction="http://tempuri.org/Authentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlate">
      <soap:operation soapAction="http://tempuri.org/GetAllPlate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGoodsCategory">
      <soap:operation soapAction="http://tempuri.org/GetAllGoodsCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoodsTypeByCategoryID">
      <soap:operation soapAction="http://tempuri.org/GetGoodsTypeByCategoryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoodsByTypeID">
      <soap:operation soapAction="http://tempuri.org/GetGoodsByTypeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBillData">
      <soap:operation soapAction="http://tempuri.org/UploadBillData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBillData">
      <soap:operation soapAction="http://tempuri.org/DeleteBillData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="iPadServiceSoap12" type="tns:iPadServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authentication">
      <soap12:operation soapAction="http://tempuri.org/Authentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlate">
      <soap12:operation soapAction="http://tempuri.org/GetAllPlate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGoodsCategory">
      <soap12:operation soapAction="http://tempuri.org/GetAllGoodsCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoodsTypeByCategoryID">
      <soap12:operation soapAction="http://tempuri.org/GetGoodsTypeByCategoryID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoodsByTypeID">
      <soap12:operation soapAction="http://tempuri.org/GetGoodsByTypeID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBillData">
      <soap12:operation soapAction="http://tempuri.org/UploadBillData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBillData">
      <soap12:operation soapAction="http://tempuri.org/DeleteBillData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iPadService">
    <wsdl:port name="iPadServiceSoap" binding="tns:iPadServiceSoap">
      <soap:address location="http://localhost:48437/ipadService.asmx" />
    </wsdl:port>
    <wsdl:port name="iPadServiceSoap12" binding="tns:iPadServiceSoap12">
      <soap12:address location="http://localhost:48437/ipadService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>